<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Wedding Album!{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home' %}">Wedding Album!</a></h1>
    </header>
    <ul>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'submit-photo' %}">Send a memory</a></li>
            {% if request.user.admin %}
                <li><a href="{% url 'photo-approvement' %}" id="approve_photo">Approve photos</a></li>
            {% endif %}
        <li><a href="{% url 'logout' %}" id="logout">Logout</a></li>
        {% endif %}
    </ul>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
