{% extends "base.html" %}

{% block content %}
    <h2>Photos List</h2>

    <ol>
      {% for photo in page_obj %}
        <li>
             <img src="{{ photo.file.url }}" height="400" width="800">

            <a href="{% url 'photo-approve' photo.uuid %}">
                <button type="button" name="button" id="approve">APPROVE</button>
            </a>
            <a href="{% url 'photo-repprove' photo.uuid %}">
                <button type="button" name="button" id="repprove">REPPROVE</button>
            </a>
        </li>
      {% endfor %}
    </ol>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
