{% extends "base.html" %}

{% block content %}
    <h2>Memory</h2>

     <img src="{{ photo.file.url }}"  height="400" width="800">
     <p>LIKES: <span id="total_likes"> {{ total_likes }} </span></p>
     <br>
     <a href="{% url 'photo-like' photo.uuid %}">
         <button type="button" name="button" id="like">Like</button>
     </a>
     <form method="post" action="{% url 'photo-comment' %}">
       {% csrf_token %}
       <input type="hidden" id="photo_id" name="photo_id" value="{{ photo.id }}">
       {% for field in form %}
         <p>
           {{ field.label_tag }}<br>
           {{ field }}
           {% if field.help_text %}
             <small style="color: grey">{{ field.help_text }}</small>
           {% endif %}
           {% for error in field.errors %}
             <p style="color: red">{{ error }}</p>
           {% endfor %}
         </p>
       {% endfor %}
       <button type="submit" id="id_comment">Comment</button>
     </form>

     <h2>Comments</h2>
     {% for comment in comments %}
        <p>{{ comment.author }} - {{ comment.content }}</p>
    {% endfor %}


{% endblock %}
